body{
  color: lightgreen;
}

.myScreen{
  text-align: center;
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #6ABE4E;
}

.myContainer{
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  width: 450px;
  height: 350px;
  margin-left: -225px;
  margin-top:-175px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 5px 5px darkgreen;
}

.myForm{
  margin-top: 50px;
}

input{
  width:300px;
  height: 50px;
  font-color: red;
  background-color: whitesmoke;
  border:none;
  margin-bottom: 15px;
  outline: none;
  padding: 13px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C0C0C0;
}

.login-bt{
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
}

#not_registered{
  color: #C0C0C0;
}

#register_link{
  color: #66C385;
}
